<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite for MovieTheatre Application"
       parallel="false" skipfailedinvocationcounts="false"
       group-by-instances="false"
       preserve-order="true" allow-return-values="false">

    <!--if you just run this suite without Maven uncomment `listeners block` for logging-->
    <!--<listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <listener class-name="net.lelyak.edu.utils.TestNGListener" />
    </listeners>-->

    <test name="Unit tests for Movie Theatre Application">
        <classes>
            <class name="net.lelyak.edu.tests.services.AuditoriumServiceTestCase"/>
            <class name="net.lelyak.edu.tests.services.BookingServiceTestCase"/>
            <class name="net.lelyak.edu.tests.services.EventServicesTestCase"/>
            <class name="net.lelyak.edu.tests.services.UserServiceTestCase"/>
        </classes>
    </test>
</suite>
