<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite for movie-theatre-app"
       parallel="false" skipfailedinvocationcounts="false"
       group-by-instances="false"
       preserve-order="true" allow-return-values="false">

    <!--if you just run this suite without Maven uncomment `listeners block` for logging-->
    <!--<listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <listener class-name="net.lelyak.edu.utils.TestNGListener" />
    </listeners>-->

    <test name="AOP tests">
        <classes>
            <class name="net.lelyak.edu.tests.aspects.CounterAspectTestCase"/>
            <!--<class name="net.lelyak.edu.tests.aspects.DiscountAspectTestCase"/>-->
        </classes>
    </test>

    <test name="Unit Tests for service layer movie-theatre-app">
        <classes>
            <class name="net.lelyak.edu.tests.services.AuditoriumServiceTestCase"/>
            <class name="net.lelyak.edu.tests.services.UserServiceTestCase"/>
            <class name="net.lelyak.edu.tests.services.UserServiceTest"/>
            <class name="net.lelyak.edu.tests.services.AdminServiceTestCase"/>
        </classes>
    </test>

</suite>
