<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="strategy.xml"/>
    <context:component-scan base-package="net.lelyak.edu"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditorium1.properties</value>
                <value>classpath:auditorium2.properties</value>
                <value>classpath:auditorium3.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

    <bean id="auditorium1" class="net.lelyak.edu.entity.Auditorium"
          c:name="${auditorium1.name}" c:numberOfSeats="${auditorium1.number-of-seats}" c:vipSeats="${auditorium1.vip-seats}"/>
    <bean id="auditorium2" class="net.lelyak.edu.entity.Auditorium"
          c:name="${auditorium2.name}" c:numberOfSeats="${auditorium2.number-of-seats}" c:vipSeats="${auditorium2.vip-seats}"/>
    <bean id="auditorium3" class="net.lelyak.edu.entity.Auditorium"
          c:name="${auditorium3.name}" c:numberOfSeats="${auditorium3.number-of-seats}" c:vipSeats="${auditorium3.vip-seats}"/>

    <util:list id="auditoriumsList">
        <ref bean="auditorium1"/>
        <ref bean="auditorium2"/>
        <ref bean="auditorium3"/>
    </util:list>

    <bean class="net.lelyak.edu.service.AuditoriumService">
        <constructor-arg ref="auditoriumsList"/>
    </bean>
    <bean class="net.lelyak.edu.service.BookingService"/>
    <bean class="net.lelyak.edu.service.EventService"/>
    <bean class="net.lelyak.edu.service.UserService"/>

</beans>